.tx_row {
    padding: 12px 0px;
    position: relative;
    display: grid;
    grid-template-columns: 40px 0.62fr 0.9fr 1.5fr;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.from,
.to_amount {
    display: grid;
    padding: 0;

    .label {
        font-weight: 400; /* 700 */
        width: 25px;
        padding: 6px 6px 4px 10px;
        opacity: 0.5;
        font-size: 10px;
        text-align: right;
    }

    .addr {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 0;
        text-decoration: none;
        max-width: 250px;

        font-size: 12px;
        line-height: 140%;

        &:hover {
            text-decoration: underline;
        }
    }

    p,
    a {
        padding: 4px 12px;
    }
}

.from {
    grid-template-columns: max-content 1fr max-content;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;

    .addr {
        word-break: break-all;
    }
}

.to_amount {
    .to {
        display: grid;
        grid-template-columns: 1fr max-content;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 5px;

        .addr {
            height: 100%;
        }
    }
}

.info_col {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0px 10px;
    overflow: auto;
}

.amount_col {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.amount {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    span {
        font-size: 10px;
        line-height: 140%;
        letter-spacing: 0.01em;
    }
}

@include smOrSmaller {
    .tx_row {
        padding: 8px;
        grid-template-columns: none;
        grid-template-rows: max-content max-content max-content max-content max-content;
    }

    .avatar {
        display: none;
    }

    .id_col {
        display: flex;
        align-items: baseline;
        height: 50px;
        a {
            flex-grow: 1;
        }
    }

    .type {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .time {
        line-height: 11px;
    }
}

@include xsOnly {
    .id {
        margin-bottom: 4px;
    }

    .tx_row {
        padding: 8px 0;
    }

    .utxo_out {
        margin-bottom: 2px;
    }

    .tx_type_label {
        padding-left: 42px;
    }

    .from {
        margin-bottom: 0;

        .addr {
            padding-left: 0;
        }
    }

    .info_col {
        padding: 0 10px 0 0;
    }

    .amount {
        font-size: 12px;

        span {
            font-size: 12px;
            font-weight: 700;
        }
    }
}
