.tx_row {
    padding: 12px 0px;
    position: relative;
    display: grid;
    grid-template-columns: 40px 0.62fr 0.9fr 1.5fr;
    column-gap: 10px;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.info_col {
    display: flex;
    flex-direction: column;
    justify-items: center;
    overflow: auto;
}

.utxo_in,
.utxo_out {
    // border: 1px solid red;
    padding: 0px 10px;
}

.from,
.to {
    padding: 0;

    .label {
        font-weight: 400;
        width: 25px;
        padding: 6px 6px 4px 10px;
        opacity: 0.5;
        font-size: 10px;
        text-align: right;
    }

    .addr {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 0;
        text-decoration: none;
        word-break: break-all;
        display: inline-block;
        max-width: 250px;
        line-height: 1em;

        &:hover {
            text-decoration: underline;
        }
    }
}

.from {
    display: grid;
    grid-template-columns: max-content;
    white-space: nowrap;
    overflow: hidden;
}

.to {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 10px;
    white-space: nowrap;
    overflow: hidden;

    .addresses {
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .amount {
        // color: #000000;
        // font-weight: 300;
        // text-align: right;

        span {
            letter-spacing: 0.01em;
        }
    }
}
@include smOrSmaller {
    .tx_row {
        padding: 8px;
        grid-template-columns: none;
        grid-template-rows: max-content max-content max-content max-content max-content;
    }

    .avatar {
        display: none;
    }

    .id_col {
        display: flex;
        align-items: baseline;
        height: 50px;
        a {
            flex-grow: 1;
        }
    }

    .type {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .time {
        line-height: 11px;
    }
}

@include xsOnly {
    .id {
        margin-bottom: 4px;
    }

    .tx_row {
        padding: 8px 0;
    }

    .utxo_out {
        margin-bottom: 2px;
    }

    .tx_type_label {
        padding-left: 42px;
    }

    .from {
        margin-bottom: 0;

        .addr {
            padding-left: 0;
        }
    }

    .info_col {
        padding: 0 10px 0 0;
    }

    .amount {
        font-size: 12px;

        span {
            font-size: 12px;
            font-weight: 700;
        }
    }
}
