/* ==========================================
   detail pages
   ========================================== */
.detail {
    header {
        margin-bottom: 20px;
    }

    a {
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        color: $primary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    > div {
        position: relative;
    }
}

.meta {
    display: grid;
    grid-template-columns: 1fr;

    .meta_row {
        display: grid;
        grid-template-columns: 140px 1fr;
        font-size: 14px;
        overflow-x: scroll;
        padding: 15px 0;
        border-bottom: 1px solid $gray-xlight;

        &:last-of-type {
            border: none;
        }

        .meta_label {
            display: inline-block;
            margin-top: 2px;
            margin-right: 16px;
            text-align: right;
            font-size: 12px;
            font-weight: 700;
        }

        .meta_value {
            // ASSET DETAIL
            .id {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            // TX DETAIL
            .status {
                background-color: $green-xlight;
                color: $green;
                width: max-content;
                border-radius: 3px;
                padding: 4px 8px;
            }

            .unit {
                font-size: 14px;
                opacity: 0.7;
            }

            .genesis_tx {
                display: flex;
                align-items: center;
            }

            .genesis {
                background-color: #e6ffe6;
                border: 1px solid $green;
                color: $green;
                width: max-content;
                padding: 4px 8px;
                margin: 0 0 0 30px;
                word-break: keep-all;
            }
        }

        .values {
            span {
                background-color: $secondary-color-xlight;
                color: $secondary-color;
                margin-right: 4px;
                padding: 4px 8px;
                border-radius: 3px;
            }
        }
    }
}

@include mdOnly {
}

@include smOnly {
}

@include xsOnly {
    .utxo_table {
        margin-top: 5px;
    }

    .detail {
        padding: $container_padding_xs;
    }
}
