.logo_container {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 10px;
    margin-right: 14px;
}

.logo_image {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
