.logo_container {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    margin-right: 14px;
}

.logo_image {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
