.logo_container {
    display: inline-block;
    border-radius: 10px;
    margin-right: 14px;
}

.logo_image {
    height: 20px;
    display: inline-block;
    margin-top: -1px;
    vertical-align: middle;
}
