$max_width: 1800px;

$width_xs: 600px;
$width_s: 960px;
$width_m: 1264px;
$width_l: 1904px;

$container_padding_xs: 10px 10px;
$container_padding_s: 12px 12px;
$container_padding_m: 30px 8vw;
$container_padding_l: 30px 18vw;

@mixin device_xs {
  @media only screen and (max-width: $width_xs) { @content; }
}

@mixin device_s {
  @media only screen and (max-width: $width_s) { @content; }
  // @media only screen and (min-width: $xs) and (max-width: $width_s) { @content; }
}

@mixin device_m {
  @media only screen and (min-width: $width_s) and (max-width: $width_m) { @content; }
}

@mixin device_l {
  @media only screen and (min-width: $width_m) and (max-width: $width_l) { @content; }
}

@mixin device_xl {
  @media only screen and (min-width: $width_l) { @content; }
}

$white: #fff;
$black: #212121;
$gray: #6e7479;
$gray-input: #d6dae1;
$gray-light: #e8e7ea;
$gray-xlight:#f5f6fa;

$red: #e84142;
$red-light: #c15656;
$red-xlight: #ffe6e6;
$orange: #ef8f4a;

$purple: #4c2e56;
$purple-light: #867e89;
$purple-xlight: #fcfbfe;
$pink: #E84970;
$pink-light: #FF8080;
$pink-extra-light: #ffe6e6;
$blue: #2196f3; 
$blue-light: #e6f5ff;

$green: #42b983;
$green-light: #e4fbef;
$primary-color: $purple;
$primary-color-light: $purple-light;
$primary-color-xlight: $purple-xlight;

$secondary-color: $pink;
$secondary-color-light: $pink-light;
$secondary-color-xlight: $pink-extra-light;

$bg-light: $gray-xlight;

$h2_xs: 18px;
$h2_s: 20px;
$h2_m: 26px;

$box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);