@mixin xlOnly {
    @media only screen and (min-width: $width_lg) {
        @content;
    }
}
// --------------------------------------------- 1904px
@mixin lgOnly {
    @media only screen and (max-width: $width_lg) and (min-width: $width_md) {
        @content;
    }
}
// --------------------------------------------- 1264px
@mixin mdOnly {
    @media only screen and (max-width: $width_md) and (min-width: $width_sm) {
        @content;
    }
}
// --------------------------------------------- 960px
@mixin smOnly {
    @media only screen and (max-width: $width_sm) and (min-width: $width_xs) {
        @content;
    }
}
// --------------------------------------------- 600px
@mixin xsOnly {
    @media only screen and (max-width: $width_xs) {
        @content;
    }
}
// --------------------------------------------- 400px
@mixin xxs {
    @media only screen and (max-width: $width_xs) {
        @content;
    }
}

// --------------------------------------------- equal to or greater than 1264px
@mixin mdOrBigger {
    @media only screen and (min-width: $width_md) {
        @content;
    }
}

// --------------------------------------------- equal to or smaller than 960px
@mixin smOrSmaller {
    @media only screen and (max-width: $width_sm) {
        @content;
    }
}
