$icon_dimension: 20px;
$padding: 8px;

.utxo_count {
    margin-left: $padding;
    font-size: 0.75em;
}

h3.label {
    margin-top: 0;
    font-weight: 400;
}

.utxo_container {
    display: grid;
    column-gap: $padding;

    background-color: $primary-color-xlight;
    border-radius: 4px;
    padding: $padding;
    margin-bottom: 16px;
}

.input_container {
    grid-template-columns: $icon_dimension 1fr;
}

.output_container {
    grid-template-columns: 1fr $icon_dimension;
}

.utxo_new_col {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    > * {
        flex-grow: 1;
        margin-bottom: $padding;
    }
}

.utxo_label {
    font-size: 10px;
    text-transform: uppercase;
    color: $primary-color-light;
}

.utxo_col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $icon_dimension;
    margin-bottom: 16px;

    // INDEX & TYPE
    .index,
    .type {
        font-size: 12px;
    }

    .index {
        color: $primary-color-light;
    }

    .type {
        margin-left: 8px;
        font-size: 24px !important;
        font-weight: 300;
    }

    // AMOUNT
    .amount {
        font-size: 24px;
        font-weight: 300;
    }

    .symbol {
        font-size: 16px;
        white-space: nowrap;
        width: max-content;
        padding-left: 8px;
    }
}

.v-application a.address {
    font-size: 14px;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}

.signature {
    color: $purple-light;
}

.redeemed {
    color: $green;
}

.compound_interest {
    background: -webkit-linear-gradient(
        top left,
        $pink-light,
        $blue,
        $red,
        $pink
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.two_col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
        flex: 1;
    }
}

.minted {
    color: $green;
}

@if $VUE_APP_DEFAULT_NETWORKID == 5 {
    .utxo_container {
        background-color: $purple-xlight;
    }

    .compound_interest {
        background: -webkit-linear-gradient(top left, $blue $pink);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@include smOnly {
    .meta_row {
        padding: 16px 0;
        grid-template-columns: none;
        grid-template-rows: max-content 1fr;

        .label {
            font-weight: 400; /* 700 */
            margin-bottom: 8px;
            margin-right: 0;
            opacity: 0.7;
        }
    }
}

@include mdOrBigger {
}
