$icon_dimension: 20px;
$padding: 8px;

h3.label {
    margin-top: 0;
    font-weight: 400;
}

.utxo_container {
    display: grid;
    grid-template-columns: $icon_dimension 1fr;
    column-gap: $padding;

    border: 1px solid $primary-color-xlight;
    border-radius: 4px;
    padding: $padding;
    margin-bottom: 16px;
}

.utxo_new_col {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    > * {
        flex-grow: 1;
        margin-bottom: $padding;
    }
}

.utxo_new_row {
}

.utxo_label {
    font-size: 10px;
    text-transform: uppercase;
}

.utxo_col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $icon_dimension;
    margin-bottom: 16px;

    // INDEX & TYPE
    .index,
    .type {
        font-size: 12px;
    }

    // AMOUNT
    .amount {
        font-size: 16px;
        font-weight: 700;
    }

    .symbol {
        font-size: 16px;
        white-space: nowrap;
        width: max-content;
        padding-left: 8px;
    }
}

.v-application a.address {
    color: $blue !important;
    font-size: 14px;
    font-weight: 400;
}

// Redeems
.redeemed {
    color: $green;
}

@include smOnly {
    .meta_row {
        padding: 16px 0;
        grid-template-columns: none;
        grid-template-rows: max-content 1fr;

        .label {
            font-weight: 400; /* 700 */
            margin-bottom: 8px;
            margin-right: 0;
            opacity: 0.7;
        }
    }
}

@include mdOrBigger {
}
