.utxo_headers,
.io_item {
    grid-template-columns: 120px 80px 80px 80px 1fr 1fr;
}

.utxo_headers {
    display: grid;
    grid-gap: 10px;
    font-size: 12px;

    p {
        font-weight: 400; /* 700 */
        opacity: 0.7;
    }
}

.utxo_headers,
.utxo_row {
    .type {
        display: none;
    }
}

// UTXOs
h3.label {
    margin-top: 0;
    font-weight: 400;
}

.utxo_container {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 10px;

    background-color: $secondary-color-xlight;
    margin-bottom: 15px;
}

.utxo_new_col {
    display: flex;
    flex-direction: column;

    font-size: 12px;

    > * {
        flex-grow: 1;
        margin-bottom: 15px;
    }
}

.utxo_new_row {
}

// Redeems
.redeemed {
    color: $green;
}

.utxo_label {
    font-size: 11px;
    color: var(--grey-500);
    text-transform: uppercase;
}

// INDEX - TYPE - AMOUNT
.index {
    color: var(--grey-700);
}

.type {
    color: var(--grey-700);
}

.utxo_col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col_amount {
    display: flex;
    flex-direction: row-reverse;
}

.amount_symbol {
    white-space: nowrap;
    width: max-content;
    background-color: $secondary-color-xlight;
    color: $secondary-color;
    padding: 4px 8px;
    border-radius: 3px;
}

@include smOnly {
    .meta_row {
        padding: 16px 0;
        grid-template-columns: none;
        grid-template-rows: max-content 1fr;

        .label {
            font-weight: 400; /* 700 */
            margin-bottom: 8px;
            margin-right: 0;
            opacity: 0.7;
        }
    }

    .io {
        grid-template-columns: none;
        grid-template-rows: max-content max-content;
    }

    .utxo_headers,
    .io_item {
        grid-template-columns: 70px 70px 70px 100px 1fr;
    }
}

@include mdOrBigger {
    .utxo_headers,
    .utxo_row {
        .type {
            display: initial;
        }
    }

    .utxo_headers,
    .io_item {
        grid-template-columns: 120px 80px 80px 80px 1fr 80px 1fr;
    }
}
